* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
}



.slide img {
    width: 314px;
    height: 272px;
}

#slider-container {
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 3%;

    width: 90%;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
}

#slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid grey;
    border-top: 8px solid grey;
}

#slider-container .btn:hover {
    transform: scale(1.2);
}

#slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
}

#slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
}

#slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
}

#slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .5s;
}

#slider-container #slider .slide {

    margin: 10px;
    border: 4px solid black;
    display: grid;
    place-items: center;
}

#slider-container #slider .slide span {
    color: white;
    font-size: 150px;
}

@media only screen and (min-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(2.5% - 20px);
    }

}

@media only screen and (max-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(3.3333333% - 20px);
    }

}

@media only screen and (max-width: 900px) {

    #slider-container #slider .slide {
        width: calc(5% - 20px);
    }

}

@media only screen and (max-width: 550px) {

    #slider-container #slider .slide {
        width: calc(10% - 20px);
    }

}




h1 {
    background-color: white;
    color: black;
    width: 480px;
    position: absolute;
    top: 440px;
    left: 50%;
    height: 70px;
    text-align: center;
    padding-top: 35px;
    z-index: 1;
}


.goal {
    width: 1650px;
    height: 400px;
    object-fit: cover;
    object-position: 10% 100%;
    margin-left: -67px;
}


#big-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.box {
    width: 500px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 385px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}


.line {
    margin-left: 25px;
    margin-right: 25px;
    width: 65%;
    height: 3px;
    background-color: black;
}


.text {
    width: 600px;
    text-align: center;
    font-weight: light;
}


.boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}

.box1 img {
    width: 153px;
    height: 161px;
    border: 4px solid #000;

    margin-left: 40px;

    text-align: center;
    line-height: 100px;

}

.box2 {
    width: 100px;

    height: 100px;

    border: 1px solid #000;

    margin: 10px;

    text-align: center;
    line-height: 100px;

}

.box3 {
    width: 100px;

    height: 100px;

    border: 1px solid #000;

    margin: 10px;

    text-align: center;
    line-height: 100px;

}

.box4 {
    width: 100px;

    height: 100px;

    border: 1px solid #000;

    margin: 10px;

    text-align: center;
    line-height: 100px;

    ;
}


.second-bar {
    object-fit: cover;
    object-position: 10% 100%;


}


.goal2 {
    width: 107%;
    height: 300px;
    object-fit: cover;
    object-position: 11% 99%;
    margin-left: -107px;
}

.goal2 img {
    max-width: 100%;
    max-height: 100%;
}

.second-bar .book {
    background-color: rgba(128, 128, 128, 0.79);

    width: 86%;
    margin-left: 75px;
    margin-top: 29px;
    text-align: center;
    height: 30%;
    position: absolute;
    text-decoration: none;
}

.book p {
    margin-left: 470px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 80px;
    color: black;

    opacity: 90%;

}



.sponsors {
    font-size: 14px;
    font-weight: bold;
    color: black;
}