* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #70ecec;
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
  background-image: url(../allpics/log.png);
  background-size: cover;
  background-position: center bottom 2%;
  box-shadow: 0 0 90px black;
  background-size: 200%;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container {
  max-width: 400px;
  width: 100%;
  background-color: #70ecec;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2,
.form-container h4 {
  margin-bottom: 20px;
  text-align: center;
}

.form-container form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container form input {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.form-container form input,
.form-container form label {
  margin-left: 20%;
}

.form-container form button {
  width: 40%;
  margin-left: 35%;
  margin-top: 2%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.form-container p {
  margin-top: 15px;
  text-align: center;
}

.form-container p a {
  color: black;
  text-decoration: none;
  background-color: #70ecec;
}
