body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

form {
    width: 400px;
}

.elem-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-left: 9px;
    
}

button:hover {
    background-color: #ff8c00;
    border: 2px solid #333;
}

.time{
    display: flex;
}
#ftime{
    width: 170px;
}
#ttime{
    margin-left: 38px;
    width: 170px;
}
#lto{
    margin-left: 38px;
}



