* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 22px !important;
    letter-spacing: 2px;
}
/* .topbar nav{
    font: 30px !important;
} */
nav{
    text-decoration: none;
    display: flex;
    background-color: black;
}
nav .logo img{
    margin-top: 3px;
    margin-left:40px ;
    width: 60px;
    border-radius: 40px;
}
menu{
    margin-left: 210px;
    margin-top: 25px;
    list-style: none;
    display: flex;
}
menu a{ 
    /* font-weight: bold; */
    /* font-size: 20px; */
    color: white;
    text-align: center;
    text-decoration: none;
    
}
#bar a{
    
    /* font-size: larger; */
    font-weight: bold;
    padding-left: 100px; 
}

.login{
    width: 350px;
    display: flex;
    flex: 1;
    text-align: right;
    position: absolute;
    right: 0;    
}

.login .sign-up{
    padding-left: 100px; /* this is the change */

}

.goal{
    width: 1463px;
    height: 400px;
    object-fit: cover ;
    object-position:10% 76% ;
    margin-left: -67px;
}
/* welcome to text */
h1{
    background-color: white;
    color: black;
    width: 480px;
    position: absolute;
    top: 440px;
    left: 50%;
    height: 70px;
    text-align: center;
    padding-top: 35px;
    z-index: 1;
}
/* lines */
.vl {
    border-top: 3px solid black;
    width: 70px;
    top: 485px;
    left: 580px;
    z-index: 2;
    position: absolute;
    height: 100px;
  }
  .v2 {
    border-top: 3px solid black;
    width: 70px;
    top: 485px;
    left: 830px;
    z-index: 2;
    position: absolute;
    height: 100px;
  }

  .elite{
    margin-top: 75px;
    text-align: center;
    /* font-size:60px; */
  }




