body{
    justify-content: center;
    align-items: center;
    height: 800px;
    display: flex;
    margin: 0;
}

.login{
    height: 500px;
    background-color: #2c8177;
    /* width: auto; */
    border: 2px solid black;
}
.login label,input{
    width: 200px;
    height:auto;
    display: flex;
}
.login .user label{
    margin-top: 10%;
    margin-left: 38% !important;
}
.login .pass label{
    margin-left: 27% !important;
}
.login input{
    margin-left: 14%;
    border-radius: 200px;
}
button{
    margin-top: 10%;
    margin-left: 39%;
}